@import "tailwindcss";

body {
  @apply antialiased bg-white text-gray-900;
  font-family: Inter, ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
}

/* subtle large watermark used in About section */
.watermark {
  position: relative;
}
.watermark::before {
  content: "Resume";
  position: absolute;
  left: 2%;
  top: -20px;
  font-size: 12rem;
  font-weight: 900;
  color: rgba(0,0,0,0.03);
  pointer-events: none;
  z-index: 0;
}